---
import Inicio from "../sections/Inicio.astro";
import Quienessomos from "../sections/Quienes.astro";
import Servicios from "../sections/Servicios.astro";
import Contacto from "../sections/Contacto.astro";
---

<main>
  <Inicio />
  <Quienessomos />
  <Servicios />
  <Contacto />
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffd4f6;
  }
</style>
