<section id="inicio" class="hero">
  <h2>El Lugar Donde Tu Belleza Se Transforma</h2>
  <p>
    Tu belleza es nuestro arte. Descubre la experiencia de transformación que
    mereces.
  </p>
</section>

<style>
  .hero {
    position: absolute;
    top: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 11vw;
  }
  h2 {
    font-size: 6vw;
    font-weight: bold;
    font-family: "Allura";
    color: #ff5d5d;
  }
  p {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: #faa;
  }
  img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
</style>
